@import "tailwindcss";
@import "../design-system/foundations/tokens.css";

@theme {
  --color-*: initial;
  --color-surface-default: var(--surface-default);
  --color-surface-canvas: var(--surface-canvas);
  --color-surface-control: var(--surface-control);
  --color-surface-subtle: var(--surface-subtle);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-inverse: var(--text-inverse);
  --color-text-disabled: var(--text-disabled);

  --color-border-default: var(--border-default);
  --color-border-subtle: var(--border-subtle);

  --color-focus-ring: var(--focus-ring);
  --color-overlay: var(--overlay);

  --color-action-primary-default: var(--action-primary-default);
  --color-action-primary-hover: var(--action-primary-hover);
  --color-action-primary-pressed: var(--action-primary-pressed);

  --color-action-context-default: var(--action-context-default);
  --color-action-context-hover: var(--action-context-hover);
  --color-action-context-pressed: var(--action-context-pressed);

  --color-action-neutral-default: var(--action-neutral-default);
  --color-action-neutral-hover: var(--action-neutral-hover);
  --color-action-neutral-pressed: var(--action-neutral-pressed);

  --color-action-danger-default: var(--action-danger-default);
  --color-action-danger-hover: var(--action-danger-hover);
  --color-action-danger-pressed: var(--action-danger-pressed);

  /** --------------------------------------------- */

  --spacing-*: initial;
  --spacing-0: var(--space-0);
  --spacing-1: var(--space-1);
  --spacing-2: var(--space-2);
  --spacing-3: var(--space-3);
  --spacing-4: var(--space-4);
  --spacing-5: var(--space-5);
  --spacing-6: var(--space-6);
  --spacing-7: var(--space-7);
  --spacing-8: var(--space-8);
  --spacing-9: var(--space-9);
  --spacing-10: var(--space-10);
  --spacing-icon-sm: 16px;
  --spacing-icon-md: 20px;
  --spacing-icon-lg: 24px;
  --spacing-avatar-sm: 32px;
  --spacing-avatar-md: 40px;
  --spacing-avatar-lg: 48px;

  --radius-*: initial;
  --radius-none: var(--radius-none);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-full: var(--radius-full);

  --text-*: initial;
  --text-display: var(--font-size-4xl);
  --text-heading-page: var(--font-size-3xl);
  --text-heading-section: var(--font-size-2xl);
  --text-heading-subsection: var(--font-size-xl);
  --text-title-item: var(--font-size-lg);
  --text-body-large: var(--font-size-lg);
  --text-body-default: var(--font-size-md);
  --text-body-small: var(--font-size-sm);
  --text-label-default: var(--font-size-sm);
  --text-label-small: var(--font-size-xs);
  --text-caption: var(--font-size-2xs);
  --text-overline: var(--font-size-2xs);

  --leading-*: initial;
  --leading-display: var(--line-height-44);
  --leading-heading-page: var(--line-height-34);
  --leading-heading-section: var(--line-height-29);
  --leading-heading-subsection: var(--line-height-26);
  --leading-title-item: var(--line-height-23);
  --leading-body-large: var(--line-height-24);
  --leading-body-default: var(--line-height-21);
  --leading-body-small: var(--line-height-19);
  --leading-label-default: var(--line-height-19);
  --leading-label-small: var(--line-height-18);
  --leading-caption: var(--line-height-16);
  --leading-overline: var(--line-height-16);

  --z-*: initial;
  --z-base: 0;
  --z-sticky: 10;
  --z-dropdown: 20;
  --z-overlay: 30;
  --z-modal: 40;
  --z-toast: 50;
}
